li {
  list-style: none;
}

.header {
  width: 1250px;
  height: 80px;
  font-family: "Trebuchet MS";
  color: White;
  background-color: Black;
}

.header a {
  color: White;
  text-decoration: none;
}

.header-logo {
  font-size: 40px;
  padding-top: 15px;
  padding-left: 70px;
  padding-right: 20px;
  float: left;
}

.header-list {
  list-style: none;
  font-size: 22px;
  color: White;
  float: left;
  padding-left: 70px;
}

.header-list li {
  float: left;
  color: White;
  padding-top: 5px;
  padding-right: 40px;
}

.main {
  font-family: "Trebuchet MS";
  float: left;
  background-color: #F5F5F5;
}

.profile {
  font-size: 20px;
  padding-bottom: 30px;
}

.profile_picture img {
  height: 300px;
  width: 300px;
  padding-right: 40px;
  padding-bottom: 30px;
  float: left;
}

.bio_title {
  font-size: 25px;
  font-weight: bold;
}

.bio p {
  text-align: justify;
  padding-right: 30px;
}

.bio a {
  color: Blue;
  text-decoration: none;
}

.qualification {
  padding-bottom: 30px;
}

.qualification_picture img {
  height: 300px;
  width: 300px;
  padding-right: 30px;
  padding-top: 60px;
  padding-bottom: 10px;
  float: left;
}

.qualification_title {
  font-weight: bold;
  font-size: 25px;
}

.phd_msu, .ma_umd, .sa_dartmouth, .ba_kuis {
  font-size: 18px;
}
