body {
  font-family:  sans-serif;
}

li {
  list-style: none;
}

.bar {
  width: 1250ppx;
  height: 20px;
  background-color: Black;
}

.bar {
  color: White;
  padding-top: 10px;
}

.logo {
  height: 50px;
  width: 1250px;
  font-size: 40px;
  padding-left: 520px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list {
  background-color: Black;
  width: 1250px;
  color: White;
  font-size: 22px;
  float: left;
  padding-bottom: 20px;
}

.list li {
  float: left;
  padding-right: 40px;
}

.list a {
  color: White;
  text-decoration: none;
}

.main {
  float: left;
  background-color: #F5F5F5;
  width: 1500px;
  height: 1700px;
}

.intro {
  width: 1180px;
  height: 150px;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 50px;
  float: left;
}

.publication {
  width: 1250px;
  float: left;
}

.publication_picture_1 {
  width: 300px;
  height: 225px;
  padding-left: 20px;
  padding-right: 40px;
  float: left;
}

.publication_title {
  font-size: 20px;
  padding-left: 50px;
}

.publication_list {
  font-size: 20px;
  padding-left: 10px;
}

.presentation {
  float: left;
}
.presentation_title {
  font-size: 20px;
  padding-left: 50px;
}

.presentation_list {
  font-size: 20px;
  padding-left: 10px;
}
