body {
  font-family:  sans-serif;
}

li {
  list-style: none;
}

.bar {
  width: 1250ppx;
  height: 20px;
  background-color: Black;
}

.bar {
  color: White;
  padding-top: 10px;
}

.logo {
  height: 50px;
  width: 1250px;
  font-size: 40px;
  padding-left: 520px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list {
  background-color: Black;
  width: 1250px;
  color: White;
  font-size: 22px;
  float: left;
  padding-bottom: 20px;
}

.list li {
  float: left;
  padding-right: 40px;
}

.list a {
  color: White;
  text-decoration: none;
}

.main {
  float: left;
  background-color: #F5F5F5;
  padding-top: 10px;
}

.profile {
  font-size: 20px;
  padding-bottom: 10px;
}

.profile_picture img {
  height: 300px;
  width: 300px;
  padding-right: 40px;
  padding-bottom: 10px;
  float: left;
}

.bio_title {
  font-size: 25px;
  font-weight: bold;
}

.bio p {
  text-align: justify;
  padding-right: 30px;
}

.bio a {
  color: Blue;
  text-decoration: none;
}

.qualification {
  padding-bottom: 30px;
}

.qualification_picture img {
  height: 300px;
  width: 300px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 10px;
  float: left;
}

.qualification_title {
  font-weight: bold;
  font-size: 25px;
}

.phd_msu, .ma_umd, .sa_dartmouth, .ba_kuis {
  font-size: 18px;
}
