li {
  list-style: none;
}

.header {
  width: 1250px;
  height: 80px;
  font-family: "Trebuchet MS";
  color: White;
  background-color: Black;
}

.header a {
  color: White;
  text-decoration: none;
}

.header-logo {
  font-size: 40px;
  padding-top: 15px;
  padding-left: 70px;
  padding-right: 20px;
  float: left;
}

.header-list {
  list-style: none;
  font-size: 22px;
  color: White;
  float: left;
  padding-left: 70px;
}

.header-list li {
  float: left;
  color: White;
  padding-top: 5px;
  padding-right: 40px;
}

.main {
  font-family: "Trebuchet MS";
  background-color: #F5F5F5;
  width: 1250px;
  height: 1500px;
}

.cv_file {
  padding-top: 5px;
  padding-right: 30px;
}
